USE [A]
GO
/****** Object:  Table [dbo].[texturas]    Script Date: 19/6/2026 08:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[texturas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_superficie] [nvarchar](50) NOT NULL,
	[r_promedio] [float] NOT NULL,
	[g_promedio] [float] NOT NULL,
	[b_promedio] [float] NOT NULL,
	[varianza_brillo] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[texturas] ON 

INSERT [dbo].[texturas] ([id], [nombre_superficie], [r_promedio], [g_promedio], [b_promedio], [varianza_brillo]) VALUES (1, N'cesped', 134.017, 149.229, 128.826, 6896.374)
INSERT [dbo].[texturas] ([id], [nombre_superficie], [r_promedio], [g_promedio], [b_promedio], [varianza_brillo]) VALUES (2, N'textura_analizada', 133.896, 149.113, 128.699, 6838.564)
INSERT [dbo].[texturas] ([id], [nombre_superficie], [r_promedio], [g_promedio], [b_promedio], [varianza_brillo]) VALUES (3, N'cemento', 133.896, 149.113, 128.699, 6838.564)
SET IDENTITY_INSERT [dbo].[texturas] OFF
GO
